{% extends 'includes/base.html' %}


{% block content %}
    <h2>Challenges</h2>
    <br>
    {% if challenge_list %}
        <ul>
        {% for challenge in challenge_list %}
            <li><a href="{% url 'challenges:show_challenge' challenge.id %}">{% include "includes/span_li.html" with data=challenge %}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No challenges configured</p>
    {% endif %}
{% endblock content %}