{% extends 'includes/base.html' %}

{% block content %}
<h2>{{ challenge }} ({% if not challenge.enabled %}disabled; {% endif %}running on port {{ challenge.port }})</h2>
<br>
{% include "exploits/list_exploits.html" %}
<br>
{% include "includes/table.html" %}
{% endblock content %}