{% extends 'includes/base.html' %}

{% block title %}
Flagnado | Status
{% endblock title %}

{% block content %}
<h1 style="text-align: center">Welcome to Flagnado</h1>
<br>
<br>
<h3>Game Status</h3>
<p>There are {{ num_servers }} active servers hosting {{ num_challenges }} active challenges, with {{ num_exploits }} total exploits.</p>
<p><h5>Exploiter Status: {% include "includes/span_state.html" with data=exploiter %}</h5></p>
<p><h5>Flagger Status: {% include "includes/span_state.html" with data=flagger %}</h5></p>
<br>
{% include "includes/table.html" %}
{% endblock content %}