{% extends 'includes/base.html' %}

{% block content %}
    <h2>Game Servers</h2>
    <br>
    {% if servers %}
        <ul>
        {% for server in servers %}
            <li><a href="{% url 'challenges:show_server' server.id %}">{% include "includes/span_li.html" with data=server %}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No servers configured</p>
    {% endif %}
{% endblock content %}