{% extends 'includes/base.html' %}

{% block content %}
<h2>Server at {{ server.ip }}{% if not server.enabled %} (disabled){% endif %}</h2>
<br>
Challenges running on this server:
<ul>
{% for challenge in server.challenges.all %}
    <li><a href="{% url 'challenges:show_challenge' challenge.id %}">{% include "includes/span_li.html" with data=challenge%}</a></li>
{% endfor %}
</ul>
<br>
{% include "includes/table.html" %}
{% endblock content %}