{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'challenges/style.css' %}">

    <title>{% block title %}{{ page_title|default:"Flagnado" }}{% endblock title %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'challenges:index' %}">Flagnado</a>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'challenges:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'challenges:list_challenges' %}">Challenges</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'challenges:list_servers' %}">Servers</a>
            </li>
          </ul>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="/admin/challenges/exploit/add/">Upload Exploit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'challenges/exploit_tmpl.py' %}">Exploit Template</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="/admin">Admin</a>
            </li>
          </ul>
      </div>
    </nav>

    <main role="main" class="container">
      {% block content %}
      Fill in the content
      {% endblock content %}
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>