{% if data is not None %}
    {% if data is True %}
    <span style="color: green">ENABLED</span>
    {% else %}
    <span style="color: red">DISABLED</span>
    {% endif %}
{% else %}
you forgot the <pre>data</pre>
{% endif %}