{% if runs %}
<h4>Log</h4>
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Timestamp (UTC)</th>
            {% for col in cols %}
            <th scope="col">{{ col|title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for run in runs %}
        <tr>
            <td>{{ run.timestamp }}</td>
            {% if "challenge" in cols %}
            <td>{{ run.challenge }}</td>
            {% endif %}
            {% if "server" in cols %}
            <td>{{ run.server }}</td>
            {% endif %}
            {% if "exploit" in cols %}
            <td>{{ run.exploit }}</td>
            {% endif %}
            {% if "result" in cols %}
            <td class="{{ run.successful|yesno:'table-success,table-danger'}}">{{ run.successful|yesno:"Got flag,Failed" }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}